{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <h1>Lesson 1 - {{ lesson.title }}</h1>
    <div class="row">
        <div class="col-xs-6">
            <h2>Dialogue</h2>
            <p class="dialogue">
                {{ lesson.content|nl2br }}
            </p>
        </div>
        <div class="col-xs-6">
            <h2>New words</h2>
            <ul class="list-group vocab-list">
                {% for word in lesson.words %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4">
                            <ruby>
                                <rb>{{ word.hanzi }}</rb>
                                <rt>{{ word.reading }}</rt>
                            </ruby>
                        </div>
                        <div class="col-xs-8 small">
                            {{ word.meaning }}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h2>Characters</h2>
    <table class="hanzi">
        {% for char in lesson.characters %}
        <tr><td>{{ char }}</td><td>{{ char }}</td><td>{{ char }}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        {% endfor %}
        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </table>


    <div class="hidden-print">
        <h2>Actions</h2>
        <form action="/lesson/studied/{{ lesson.id }}" action="post">
            <label for="studied[date]" class="control-label hidden">Date</label>
            <input type="email" id="studied[date]" placeholder="{{ date(now)|date('d-m-Y')}}">
            <button type="submit" class="btn btn-default">Studied</button>
        </form>
    </div>
</div>
{% endblock %}